/*
 * @Author: kermit.yu 
 * @Date: 2020-02-22 22:51:09 
 * @Last Modified by: kermit.yu
 * @Last Modified time: 2020-02-25 15:03:18
 */

*{
    box-sizing:border-box;
}

html,body{
    width:100%;
    background-color: #f7f8fa;
}

body{
    // padding-top:49px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.van-overlay{
    z-index:9999;
}

#header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:8px 15px;
    background:#1e63cb url(../imgs/hd_bg.jpg) no-repeat left 0;
    background-size:100% 100%;
    .logo{
        width:126px;
    }
    .menu-btn{
        display:inline-block;
        background-color:transparent;
        border:0;
        width:30px;
        height:30px;
        display:flex;
        justify-content:center;
        align-items:center;
        background:#1e63cb url(../imgs/icon_memu.png) no-repeat 0 center;
        background-size:200% 100%;
        &.active{
            background-position:100% 0;
        }
    }
    .menu-cover{
        position: absolute;
        top:56px;
        right:15px;
        width:50%;
        background-color:rgba(30, 99, 203, 1);
        z-index:9999;
        padding:15px;
        border-radius:5px;
        display:none;
        &.open{
            display:block;
        }
        &::before{
            position: absolute;
            top:-5px;
            right:10px;
            content:'';
            display:block;
            width:0;
            height:0;
            border:6px solid transparent;
            border-top:0;
            border-bottom-color:rgba(30, 99, 203, 1);
        }
        .menu__item{
            width:100%;
            display:block;
            padding:10px 0;
            color:#fff;
            font-size:14px;
            + .menu__item{
                border-top:1px solid rgba(255, 255, 255, 0.5);
            }
        }
    }
}

#footer{
    padding:0.5em 1em;
    font-size:12px;
    text-align:center;
    color:#999;
    background-color:#ebedf0;
    a{
        color:#666;
        &:hover{
            color:#333;
        }
    }
}

#app{
    padding-top:49px;
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    // 修改vant中popup的关闭按钮
    .van-popup{
        .van-icon{
            z-index: 3;
            .van-icon__image{
                width:42px;
                height:28px;
            }
        }
    }
}

.page{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    padding:15px;
    padding-bottom:40px;
    &.page--start{
        justify-content:flex-start;
        align-items:flex-start;
    }
    .van-cell-group{
        width:100%;
        flex-direction:column;
        .__cell__value{
            padding-left:1em;
        }
        .van-field__body{
            &.--text-left{
                align-items:flex-start;
                text-align:left;
            }
            &.--space-between{
                display:flex;
                justify-content:space-between;
            }
            &.--column{
                display:flex;
                flex-direction:column;
            }
            .value___item{
                width:100%;
                padding:0.3em 0;
                display:flex;
                align-items:center;
                justify-content:space-between;
                + .value___item{
                    border-top:1px solid #ebedf0;
                }
                span{
                    text-align:left;
                }
            }
        }
        // .--flex-end{
        //     display:flex;
        //     justify-content:flex-end;
        // }
    }
    .page-title{
        width:100%;
        text-align:center;
        font-size:18px;
        font-weight:normal;
        padding-bottom:0.5em;
        margin:0;
    }
    .submit-btn{
        margin-top:1em;
    }
}

.tel{
    color:#1e63cb;
}

.text--green{
    color:#1e63cb;
}

.text--red{
    color:#ee0a24;
}

.text-right{
    text-align:right;
}

img{
    max-width:100%;
}

.__img-box{
    font-size:0;
    line-height:0;
}

// 首页样式
#index{
    padding:0;
    .banner{
        margin-left:auto;
        margin-right:auto;
    }
    .menu-contain{
        width:100%;
        padding:28px 15px;
        display:flex;
        flex-wrap:wrap;
    }
    .menu__item{
        text-align:center;
        font-size:14px;
        color:#666;
        width:100%/2;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        padding:20px 5px;
        .menu__icon{
            max-width:50px;
        }
    }
}

// 登录/注册
#login,#register{
    .register-titile{
        font-size:16px;
        color:#666;
        font-weight:normal;
    }
    .register-tip{
        margin:0;
        width:100%;
        font-size:14px;
        padding-top:0.5em;
        color:#666;
    }
    .van-button{
        margin-top:1em;
    }
    .login-btn{
        margin-top:2em;
    }
}

#login{
    width:100%;
    height:100%;
}

#register{
    .text-btn{
        border:0;
        background-color:transparent;
        padding:0.5em 0;
        color:#1e63cb;
    }
    .van-overlay{
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .overlay__wrapper{
        display: flex;
        height:100%;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        padding:15px;
    }
    .overlay__inner{
        background-color:#fff;
        padding:15px;
        border-radius:5px;
    }
    .scroll__box{
        height:300px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

// 酒店列表
#hotelList,#applylList{
    align-items:flex-start;
    justify-content:flex-start;
    padding-top:106px;
    padding-bottom:80px;
    .list-hd{
        position: fixed;
        top:50px;
        left:0;
        width:100%;
        padding:10px 15px;
        background-color:#fff;
        display:flex;
        flex-direction:column;
        z-index: 990;
        .pickers{
            width:100%;
            display:flex;
            justify-content:space-between;
            .van-button{
                .van-button__text{
                    max-width:10em;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                + .van-button{
                    margin-left:5px;
                }
            }
        }
        .van-cell{
            padding-left:0;
            padding-right:0;
            padding-bottom:0;
            .van-field__control{
                line-height:30px;
                border-bottom:1px solid #999;
            }
        }
        &::after{
            position: absolute;
            box-sizing: border-box;
            content: ' ';
            pointer-events: none;
            top: -50%;
            right: -50%;
            bottom: -50%;
            left: -50%;
            border-bottom:1px solid #999;
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
        }
    }
    .item{
        width:100%;
        padding: 10px 16px;
        background-color:#fff;
        .item-hd{
            color: #323233;
            font-size: 14px;
            line-height: 24px;
            display:flex;
            justify-content:space-between;
            .item__value{
                color: #969799;
            }
        }
        .item-bd{
            margin-top: 3px;
            color: #969799;
            font-size: 14px;
            line-height: 21px;
        }
        .item-ft{
            display:flex;
            flex-wrap:wrap;
            justify-content:flex-end;
            align-items:flex-start;
            padding-top:0.5em;
            .van-button{
                + .van-button{
                    margin-left:0.5em;
                }
            }
        }
        + .item{
            border-top:1px solid #ebedf0;
        }
    }
    .item-empty{
        width:100%;
        padding:2em 0;
        font-size:14px;
        color:#6666;
        text-align:center;
    }
    .ft-cover{
        position:fixed;
        bottom:0;
        left:0;
        width:100%;
        padding:0 4em 1em 4em;
    }
}

#applylList{
    .list-hd{
        .pickers{
            .van-button{
                .van-button__text{
                    max-width:5em;
                }
            }
        }
    }
}

// 医护人员个人中心
#profile{
    .item{
        width:100%;
        padding: 10px 16px;
        background-color:#fff;
        .item-hd{
            color: #323233;
            font-size: 14px;
            line-height: 24px;
            display:flex;
            justify-content:space-between;
            .item__value{
                color: #969799;
            }
        }
        .item-bd{
            margin-top: 3px;
            color: #969799;
            font-size: 14px;
            line-height: 21px;
        }
        .item-ft{
            display:flex;
            flex-wrap:wrap;
            justify-content:flex-end;
            align-items:flex-start;
            padding-top:0.5em;
            .van-button{
                + .van-button{
                    margin-left:0.5em;
                }
            }
        }
        + .item{
            border-top:1px solid #ebedf0;
        }
    }
    .item-empty{
        width:100%;
        padding:2em 0;
        font-size:14px;
        color:#6666;
        text-align:center;
    }
}

// 有切换页面
.page-tabbar{
    padding-bottom:70px;
}

// 详情页
#detail{
    font-size:14px;
    color:#333;
    line-height:1.75;
    .subtitle{
        margin:0.5em 0;
        font-weight:normal;
        font-size:16px;
        margin-bottom:0.5em;
    }
    .text-center{
        text-align:center;
    }
    p{
        width:100%;
        margin:0;
        + p{
            margin-top:1em;
        }
    }
    a{
        color:#1e63cb;
        &:hover{
            color:darken(#1e63cb, 10%);
        }
    }
    img{
        margin-left:auto;
        margin-right:auto;
    }
    ul,ol{
        padding-left:20px;
        list-style: disc;
        margin:0.5em 0;
        li{
            +li{
                margin-top:0.5em;
            }
        }
    }
    ol{
        list-style: decimal;
    }
}
