/*
 * @Author: kermit.yu 
 * @Date: 2020-02-22 22:51:09 
 * @Last Modified by: kermit.yu
 * @Last Modified time: 2020-02-23 21:17:27
 */
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  background-color: #f7f8fa;
}
body {
  padding-top: 38px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  color: #fff;
  text-align: center;
  background-color: #07c160;
}
#header a {
  display: block;
  color: #fff;
  padding: 0.5em 1em;
}
#footer {
  padding: 0.5em 1em;
  font-size: 12px;
  text-align: center;
  color: #999;
  background-color: #ebedf0;
}
#footer a {
  color: #666;
}
#footer a:hover {
  color: #333;
}
#app {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 1em;
  padding-bottom: 40px;
}
.page.page--start {
  justify-content: flex-start;
  align-items: flex-start;
}
.page .van-cell-group {
  width: 100%;
  flex-direction: column;
}
.page .van-cell-group .__cell__value {
  padding-left: 1em;
}
.page .van-cell-group .van-field__body.--text-left {
  align-items: flex-start;
  text-align: left;
}
.page .van-cell-group .van-field__body.--space-between {
  display: flex;
  justify-content: space-between;
}
.page .page-title {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 0.5em;
  margin: 0;
}
.page .submit-btn {
  margin-top: 1em;
}
.tel {
  color: #07c160;
}
.text--green {
  color: #07c160;
}
.text-right {
  text-align: right;
}
#index {
  width: 100%;
  height: 100%;
}
#index .van-button + .van-button {
  margin-top: 1em;
}
#login .register-titile,
#register .register-titile {
  font-size: 16px;
  color: #666;
  font-weight: normal;
}
#login .register-tip,
#register .register-tip {
  margin: 0;
  width: 100%;
  font-size: 14px;
  padding-top: 0.5em;
  color: #666;
}
#login .van-button,
#register .van-button {
  margin-top: 1em;
}
#login .login-btn,
#register .login-btn {
  margin-top: 2em;
}
#login {
  width: 100%;
  height: 100%;
}
#hotelList,
#applylList {
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 100px;
  padding-bottom: 80px;
}
#hotelList .list-hd,
#applylList .list-hd {
  position: fixed;
  top: 37px;
  left: 0;
  width: 100%;
  padding: 1em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 999;
}
#hotelList .list-hd .pickers,
#applylList .list-hd .pickers {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#hotelList .list-hd .pickers .van-button .van-button__text,
#applylList .list-hd .pickers .van-button .van-button__text {
  max-width: 10em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#hotelList .list-hd .pickers .van-button + .van-button,
#applylList .list-hd .pickers .van-button + .van-button {
  margin-left: 5px;
}
#hotelList .list-hd .van-cell,
#applylList .list-hd .van-cell {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
#hotelList .list-hd .van-cell .van-field__control,
#applylList .list-hd .van-cell .van-field__control {
  line-height: 30px;
  border-bottom: 1px solid #999;
}
#hotelList .list-hd::after,
#applylList .list-hd::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border-bottom: 1px solid #999;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
#hotelList .item,
#applylList .item {
  width: 100%;
  padding: 10px 16px;
  background-color: #fff;
}
#hotelList .item .item-hd,
#applylList .item .item-hd {
  color: #323233;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}
#hotelList .item .item-hd .item__value,
#applylList .item .item-hd .item__value {
  color: #969799;
}
#hotelList .item .item-bd,
#applylList .item .item-bd {
  margin-top: 3px;
  color: #969799;
  font-size: 14px;
  line-height: 21px;
}
#hotelList .item .item-ft,
#applylList .item .item-ft {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 0.5em;
}
#hotelList .item .item-ft .van-button + .van-button,
#applylList .item .item-ft .van-button + .van-button {
  margin-left: 0.5em;
}
#hotelList .item + .item,
#applylList .item + .item {
  border-top: 1px solid #ebedf0;
}
#hotelList .ft-cover,
#applylList .ft-cover {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 4em 1em 4em;
}
#applylList .list-hd .pickers .van-button .van-button__text {
  max-width: 5em;
}
