@charset "utf-8";

.formGroup {
    height: 1.2rem;
}

/* **** 注册页 **** */
html, body {
    width: 100%;
    height: 100%;
}
.statement {
    margin: 0.6rem 0 0.4rem;
    font-size: 0.28rem;
    line-height: 0.4rem;
    color: var(--fontColor);
}
.registerForm {
    font-size: 0px;
}
.registerBtn {
    width: 100%;
    font-size: 0.28rem;
    line-height: 0.8rem;
    text-align: center;
    background-color: var(--themeColor);
    color: #ffffff;
}
.registerTip {
    position: absolute;
    left: 0;
    bottom: 0.2rem;
    width: 100%;
    font-size: 0.24rem;
    line-height: 0.3rem;
    text-align: center;
    color: #999999;
}